<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact QR Code Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="smoothscroll-polyfill/dist/smoothscroll.min.js"></script>
    <style>
        /* Limit width for readability on large screen sizes */
        @media (min-width: 1200px) {
            .container {
                width: 960px;
            }
        }

        /* Scale output image */
        #output {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <!-- Full viewport height -->
    <div class="d-flex flex-column vh-100">

        <!-- Fixed nav bar reserves space -->
        <nav class="navbar navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
                <h1 class="mb-0 navbar-brand mx-auto">QR Code Generator</h1>
            </div>
        </nav>

        <!-- Container reserves remaining space -->
        <div class="container d-flex flex-column h-100">
            <!-- Side by side on desktop, stacked on mobile -->
            <div class="row h-100">

                <!-- Same height as container to vertically center contents -->
                <div class="col-md-6 d-flex flex-column justify-content-center py-3 h-100">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                            <label for="firstName">First Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                            <label for="lastName">Last Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            <label for="email">Email</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone">
                            <label for="phone">Phone</label>
                        </div>

                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mx-auto">Generate</button>
                        </div>
                    </form>
                </div>

                <!-- Same height as container again, 2-page layout when stacked -->
                <!-- Hidden before QR loads (prevent scrolling to blank area) -->
                <div id="output_column" class="col-md-6 flex-column justify-content-center align-items-center py-3 h-100" style="display:none;">
                    <!-- Keep QR vertically centered, hidden button negates download button impact on layout -->
                    <a style="visibility:hidden;"><button type="submit" class="btn btn-primary mt-3">Download</button></a>

                    <!-- Output image + download button -->
                    <img id="output" src=""></img>
                    <a href="" id="download"><button type="submit" class="btn btn-primary mb-3">Download</button></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const phoneRegex = /^(\d{10}|\d{3}-\d{3}-\d{4})$/;

        // Add invalid highlight + listener to remove highlight on input
        function markInvalid(element) {
            element.classList.add('is-invalid');
            element.addEventListener("input", (e) => {
                e.target.classList.remove("is-invalid");
            }, { once: true });
        };

        function validateForm(data) {
            valid = true;

            // Check for blank fields
            for (i in data) {
                if (data[i] == "") {
                    markInvalid(document.getElementById(i));
                    valid = false;
                };
            };

            // Check for valid email format
            if (!emailRegex.test(data['email'])) {
                markInvalid(document.getElementById('email'));
                valid = false;
            };

            // Check for valid phone number format
            if (!phoneRegex.test(data['phone'])) {
                markInvalid(document.getElementById('phone'));
                valid = false;
            };

            return valid;
        };

        async function handleSubmit(event) {
            event.preventDefault();

            // Get form data
            const data = Object.fromEntries(new FormData(event.target).entries());
            console.log(data);

            // Validate form data
            if (!validateForm(data)) {return false};

            // Post form data, receive base64 PNG
            var result = await fetch('/generate', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: { 'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json' }
            });

            result = await result.text();

            // Add image to right column, show
            document.getElementById('output').src = "data:image/png;base64," + result;
            document.getElementById('output_column').classList.add('d-flex');

            // Set download button target, scroll into view
            document.getElementById('download').href = `/download/${data.firstName}-${data.lastName}`;
            document.getElementById('download').scrollIntoView({behavior: "smooth"});
        };

        // Only allow numbers and hyphen in phone field
        document.getElementById('phone').addEventListener('input', function(event) {
            const input = event.target.value;
            event.target.value = input.replace(/[^0-9-]/g, '');
        });

        // Allow all characters except spaces in email field
        document.getElementById('email').addEventListener('keydown', function(event) {
            if (event.code === 'Space') {
                event.preventDefault();
            };
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', handleSubmit);
    </script>
</body>
</html>
